// Color Variables
$primary-color: #C9F31C;
$primary-dark: #131313;
$secondary-dark: #070707;
$secondary-medium: #131313;
$secondary-light: #1F1F1F;
$gray-border-color: #353535;
$color-white: #ffffff;
$color-gray: #B1B1B1;