// Variables
@use "variables" as vars;

.about-page-container {
    padding: 180px 0px 120px 0px;

    @media screen and (max-width: 1024px) {
        padding-top: 140px;
        padding-bottom: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 56px;
    }

    .about-me-section {
        margin-top: 110px;


        .about-us-wrap {
            padding-top: 90px;
            padding-bottom: 90px;
        }

        @media screen and (max-width: 767px) {
            margin-top: 60px;

            .about-us-wrap {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
    }

    .experience-section-wrap {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 40px;
        padding-top: 130px;
        padding-bottom: 30px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            padding-top: 90px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 60px;
        }

        .icon-wrap {
            padding-top: 90px;
            grid-column: span 3 / span 3;

            @media screen and (max-width: 1024px) {
                padding-top: 0px;
                grid-column: span 1 / span 1;
            }

            .icon {
                max-width: 270px;
                width: 270px;
                height: 270px;
                background-color: vars.$secondary-light;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid vars.$gray-border-color;

                svg {
                    font-size: 135px;
                    color: vars.$primary-color;
                }

                @media screen and (max-width: 1200px) {
                    max-width: 200px;
                    width: 200px;
                    height: 200px;

                    svg {
                        font-size: 110px;
                        color: vars.$primary-color;
                    }
                }
            }
        }

        .experience-content {
            grid-column: span 9 / span 9;

            @media screen and (max-width: 1024px) {
                grid-column: span 1 / span 1;
            }

            >h2 {
                max-width: 500px;
            }

            .experience-wrap {
                margin-top: 50px;
                padding: 50px;
                background-color: vars.$secondary-light;
                border-radius: 16px;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 60px;

                @media screen and (max-width: 1024px) {
                    padding: 40px;
                    margin-top: 40px;
                    gap: 40px;
                }

                @media screen and (max-width: 767px) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                    padding: 30px;
                    margin-top: 30px;
                    gap: 30px;
                }

                .experience-card {
                    &:hover {
                        .icon {
                            background-color: vars.$primary-color;

                            svg {
                                color: #353535;
                            }
                        }
                    }

                    display: flex;
                    align-items: start;
                    gap: 20px;

                    .icon {
                        max-width: 40px;
                        min-width: 40px;
                        width: 40px;
                        height: 40px;
                        background-color: vars.$secondary-dark;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s all;

                        svg {
                            font-size: 16px;
                            color: vars.$color-gray;
                        }
                    }

                    .details {
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            color: vars.$color-gray;
                        }

                        h6 {
                            font-size: 24px;
                            font-weight: 500px;
                            color: vars.$color-white;
                        }

                        span {
                            font-size: 22px;
                            font-weight: 600;
                            display: block;
                            color: vars.$color-gray;
                            margin-top: 12px;
                        }

                        @media screen and (max-width: 767px) {
                            h6 {
                                font-size: 20px;
                            }

                            span {
                                font-size: 18px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonials-section {
        .testimonials-bg-color {
            background-color: transparent;
        }
    }

    .about-faq-section {
        .faq-wrap {
            max-width: 1024px;
            margin: 0 auto;

            .faq-section-heading {
                text-align: center;
            }

            .faq-items {
                color: vars.$color-white;
                display: grid;
                gap: 20px;
                margin-top: 60px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 35px;
                }

                .faq {
                    background-color: vars.$secondary-light;
                    border: 1px solid vars.$gray-border-color;
                    width: 100%;
                    text-align: start;
                    border-radius: 10px;
                    transition: 0.3s all;

                    &:hover {
                        border-color: vars.$primary-color;

                        .answer-button {
                            .toggle-icon {
                                color: vars.$primary-color;
                            }
                        }
                    }
                }

                .faq[aria-expanded='true'] {
                    border: 1px solid vars.$primary-color;

                    .answer-button {
                        .toggle-icon {
                            color: vars.$primary-color;
                        }
                    }
                }

                .answer-button {
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                    background-color: transparent;
                    width: 100%;
                    padding: 20px 30px;
                    cursor: pointer;
                    border: none;
                }

                .answer {
                    background-color: vars.$secondary-light;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    font-size: 16px;
                    line-height: 26px;
                    padding: 0px 30px;
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
                    will-change: opacity, max-height, padding;

                    ul {
                        padding-left: 16px;
                    }

                    a {
                        color: #B1B1B1;
                    }
                }

                .answer-button[aria-expanded='true']+.answer {
                    opacity: 1;
                    max-height: 1000px;
                    transition: all 0.4s ease-in-out;
                    will-change: opacity, max-height, padding;
                    padding: 8px 30px 30px 30px;
                }
            }
        }
    }
}