// Variables
@use "variables" as vars;

.about-page-container {
    padding: 180px 0px 80px 0px;

    @media screen and (max-width: 1024px) {
        padding-top: 140px;
    }

    @media screen and (max-width: 767px) {
        padding: 120px 0px 56px 0px;
    }
}