// Variables
@use "variables" as vars;

// Hero section image
.hero-bg {
    padding: 180px 15px 80px 15px;

    @media screen and (max-width: 1024px) {
        padding-top: 140px;
    }

    @media screen and (max-width: 767px) {
        padding: 120px 15px 56px 15px;
    }

    .hero-section-container {
        max-width: 1650px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        gap: 30px;
        align-items: center;

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .intro-text {
            grid-column: span 4 / span 4;

            h3 {
                color: vars.$color-gray;
                font-size: 45px;
                font-weight: 400;
                line-height: 1em;
                margin-bottom: 10px;
            }

            h2 {
                color: vars.$primary-color;
                font-size: 65px;
                font-weight: 700;
                line-height: 1.1em;
                letter-spacing: -0.03em;
                margin-bottom: 5px;
            }

            h1 {
                color: vars.$color-white;
                font-size: 65px;
                font-weight: 400;
                line-height: 1.1em;
                letter-spacing: -0.03em;
            }

            p {
                margin: 40px 0px;
            }

            @media screen and (max-width: 1366px) {
                h3 {
                    font-size: 35px;
                }

                h2 {
                    font-size: 54px;
                }

                h1 {
                    font-size: 54px;
                }
            }

            @media screen and (max-width: 1200px) {
                h3 {
                    font-size: 30px;
                }

                h2 {
                    font-size: 46px;
                }

                h1 {
                    font-size: 46px;
                }
            }

            @media screen and (max-width: 1024px) {
                grid-column: span 6 / span 6;
            }

            @media screen and (max-width: 767px) {
                grid-column: span 1 / span 1;

                h2 {
                    font-size: 42px;
                }

                h1 {
                    font-size: 42px;
                }

                p {
                    margin: 24px 0px;
                }
            }

        }

        .middle-image {
            grid-column: span 4 / span 4;

            img {
                max-width: 100%;
                width: 100%;
            }

            @media screen and (max-width: 1024px) {
                display: none;
            }

            @media screen and (max-width: 767px) {
                grid-column: span 1 / span 1;
                display: flex;
                justify-content: center;

                img {
                    max-width: 500px;
                }
            }
        }

        .hero-right-content {
            grid-column: span 3 / span 3;
            display: flex;
            justify-content: end;

            .right-content-wrap {
                background-color: vars.$secondary-dark;
                border-radius: 16px;
                padding: 40px;
                color: vars.$color-gray;

                @media screen and (max-width: 1200px) {
                    padding: 40px 30px;
                    width: 100%;
                }

                h3 {
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 1;
                    color: vars.$primary-color;
                    padding: 25px 0px 15px 0px;

                    &:first-child {
                        padding-top: 0px;
                    }
                }

                p {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.4;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #353535;

                    &:last-child {
                        padding-bottom: 0px;
                        border-bottom: none;
                    }
                }
            }

            @media screen and (max-width: 1024px) {
                grid-column: span 5 / span 5;
            }

            @media screen and (max-width: 767px) {
                grid-column: span 1 / span 1;
            }
        }
    }

    .responsive-image {
        display: none;
        padding-top: 30px;

        .responsive-image-wrap {
            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: 767px) and (max-width: 1024px) {
            display: block;
        }
    }
}

// About us section
.about-us-container {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    gap: 30px;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: vars.$secondary-dark;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        align-items: start;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about-us-content {
        grid-column: span 6 / span 6;
        z-index: 1;

        @media screen and (max-width: 1024px) {
            grid-column: span 1 / span 1;
            background-image: url('./global-shape.svg');
        }

        .about-us-description {
            margin: 40px 0px 45px 0px;
        }

        .skills-category {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;

            @media screen and (max-width: 640px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            li {
                display: flex;
                align-items: center;

                .list-icon {
                    color: vars.$primary-color;
                    font-size: 28px;
                    margin-right: 20px;
                }

                .list-text {
                    color: vars.$color-white;
                    font-size: 22px;
                    line-height: 1.4;
                    font-weight: 500;
                }
            }
        }

    }

    .glob-img-for-bg {
        display: none;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.4;

        @media screen and (max-width: 1024px) {
            display: block;
            width: 100%;
        }
    }

    .about-us-images {
        grid-column: span 5 / span 5;

        @media screen and (max-width: 1024px) {
            display: none;
        }

        .glob-img {
            width: 100%;
            max-width: 100%;
        }
    }

    @media screen and (max-width: 1024px) {
        .about-us-content {
            .about-us-description {
                margin: 30px 0px 35px 0px;
            }
        }
    }
}

// Work Experience section
.experience-section-wrap {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 40px;
    padding-top: 130px;
    padding-bottom: 130px;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .icon-wrap {
        padding-top: 90px;
        grid-column: span 3 / span 3;

        @media screen and (max-width: 1024px) {
            padding-top: 0px;
            grid-column: span 1 / span 1;
        }

        .icon {
            max-width: 270px;
            width: 270px;
            height: 270px;
            background-color: vars.$secondary-light;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid vars.$gray-border-color;

            svg {
                font-size: 135px;
                color: vars.$primary-color;
            }

            @media screen and (max-width: 1200px) {
                max-width: 200px;
                width: 200px;
                height: 200px;

                svg {
                    font-size: 110px;
                    color: vars.$primary-color;
                }
            }
        }
    }

    .experience-content {
        grid-column: span 9 / span 9;

        @media screen and (max-width: 1024px) {
            grid-column: span 1 / span 1;
        }

        .experience-wrap {
            margin-top: 60px;
            padding: 60px;
            background-color: vars.$secondary-light;
            border-radius: 16px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 60px;

            @media screen and (max-width: 1024px) {
                padding: 40px;
                margin-top: 40px;
                gap: 40px;
            }

            @media screen and (max-width: 767px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                padding: 30px;
                margin-top: 30px;
                gap: 30px;
            }

            .experience-card {
                &:hover {
                    .icon {
                        background-color: vars.$primary-color;

                        svg {
                            color: #353535;
                        }
                    }
                }

                display: flex;
                align-items: start;
                gap: 20px;

                .icon {
                    max-width: 40px;
                    width: 40px;
                    height: 40px;
                    background-color: vars.$secondary-dark;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s all;

                    svg {
                        font-size: 16px;
                        color: vars.$color-gray;
                    }
                }

                .details {
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        color: vars.$color-gray;
                    }

                    h6 {
                        font-size: 24px;
                        font-weight: 500px;
                        color: vars.$color-white;
                    }

                    span {
                        font-size: 22px;
                        font-weight: 600;
                        display: block;
                        color: vars.$color-gray;
                        margin-top: 12px;
                    }

                    @media screen and (max-width: 767px) {
                        h6 {
                            font-size: 20px;
                        }

                        span {
                            font-size: 18px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}

// Service section style
.services-section-wrap {
    padding-bottom: 130px;

    @media screen and (max-width: 1024px) {
        padding-bottom: 90px;
    }

    .services-heading {
        text-align: center;
        max-width: 696px;
        margin: 0px auto;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 60px;

        .services-heading {
            margin-bottom: 35px;
        }
    }

    .services-items-wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 20px;
        }

        .services-item {
            background-color: vars.$secondary-light;
            border: 1px solid vars.$gray-border-color;
            border-radius: 16px;
            padding: 35px 50px;
            display: flex;
            flex-direction: row;
            gap: 45px;
            transition: 0.3s all;

            @media screen and (max-width: 1024px) {
                gap: 25px;
                padding: 25px 35px;
            }

            &:hover {
                border-color: vars.$primary-color;

                .services-item-number {
                    color: vars.$color-white;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 18px 25px;
            }

            .services-item-number {
                font-size: 24px;
                font-weight: 400;
                color: vars.$color-gray;
                transition: 0.3s all;
            }

            .service-name {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.2;
                color: vars.$color-white;

                @media screen and (max-width: 1024px) {
                    font-size: 22px;
                }
            }

            .service-description {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.8;
                margin-top: 10px;
                color: vars.$color-gray;

                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.skills-section-wrap {
    padding-top: 100px;
    padding-bottom: 130px;

    @media screen and (max-width: 1024px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .skills-section-content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 60px;
        align-items: center;

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 0px;
        }

        .skills-content-wrap {
            .skills-sections-description {
                margin: 40px 0px 45px 0px;
            }

            @media screen and (max-width: 1024px) {
                .skills-sections-description {
                    margin: 30px 0px 35px 0px;
                }
            }
        }

        .right-image {
            display: flex;
            justify-content: end;

            img {
                max-width: 480px;
            }

            @media screen and (max-width: 1024px) {
                img {
                    max-width: 380px;
                }
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

}