// Variables
@use "variables" as vars;

.portfolio-details-container {
    padding: 140px 0px 120px 0px;

    @media screen and (max-width: 1024px) {
        padding-top: 140px;
        padding-bottom: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 56px;
    }

    .portfolio-thumbnail {
        position: relative;

        .expand-button {
            display: inline-block;
            position: absolute;
            border: 3px solid vars.$color-white;
            border-radius: 14px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s all;
            background-color: transparent;
            z-index: 1;
            font-size: 18px;
            right: 10px;
            margin-right: 15px;
            top: 10px;

            svg {
                path {
                    transition: 0.3s all;
                    fill: vars.$color-white;
                }
            }

            &:hover {
                border-color: vars.$primary-color;

                svg {
                    path {
                        fill: vars.$primary-color;
                    }
                }
            }
        }

        .project-logo {
            max-width: 100px;
            height: auto;
            width: 100%;
            position: absolute;
            top: 15px;
            left: 30px;
            z-index: 1;
        }

        .wp-post-image {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: top center;
            border-radius: 20px;
            opacity: 0.7;
        }

        .portfolio-title-wrap {
            position: absolute;
            overflow: hidden;
            right: 0;
            left: 0;
            bottom: 4px;
            padding: 20px 20px 30px 20px;
            margin: 0px 15px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgb(0 0 0 / 75%), #00000000);
                pointer-events: none;
            }

            h1 {
                color: vars.$color-white;
                font-size: 48px;
                font-weight: 500;
                line-height: 1.1em;
                letter-spacing: -0.03em;
                display: inline;
                z-index: 1;
                position: relative;
            }

            .category {
                z-index: 1;
                position: relative;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                span {
                    color: vars.$color-white;
                    font-size: 16px;
                    line-height: 1.3;
                    transition: 0.3s all;
                    background-color: #E87F03;
                    padding: 5px 10px;
                    border-radius: 30px;
                    display: inline-block;
                }
            }
        }


        @media screen and (max-width: 1024px) {
            .wp-post-image {
                height: 450px;
            }

            .portfolio-title-wrap {
                h1 {
                    font-size: 40px;
                }
            }
        }

        @media screen and (max-width: 767px) {
            .wp-post-image {
                height: 400px;
            }

            .portfolio-title-wrap {
                padding: 20px 20px 20px 20px;

                h1 {
                    font-size: 32px;
                }
            }
        }
    }

    .portfolio-content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 30px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }

        .portfolio-content-wrap {
            grid-column: span 8 / span 8;

            @media screen and (max-width: 1024px) {
                grid-column: span 1 / span 1;
            }

            .portfolio-description {
                color: vars.$color-gray;
                font-size: 16px;
                line-height: 28px;

                p {
                    margin-bottom: 20px;
                }

                a {
                    color: vars.$primary-color;
                    text-decoration: underline;
                }

                ul {
                    padding-left: 16px;

                    li {
                        line-height: 32px;
                    }

                    p {
                        margin: 0px;
                    }
                }

                blockquote {
                    border-left: 4px solid;
                    padding: 12px 12px 12px 18px;
                    background-color: #1c1c1c;
                    margin: 15px 0px;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: vars.$color-white;
                    margin: 25px 0px 15px 0px;
                    font-weight: 500;
                }
            }

            .out-links {
                margin-top: 30px;

                a {
                    margin-right: 6px;
                    margin-top: 8px;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.3;
                    text-transform: capitalize;
                    text-decoration: none;
                    border: none;
                    border-radius: 50px;
                    padding: 16px 35px;
                    background-color: vars.$primary-color;
                    color: vars.$secondary-dark;
                    transition: all 0.3s ease-in-out;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }

                .dribbble-btn {
                    background-color: #ea4c89;
                    color: vars.$color-white;
                    font-weight: 500;
                }
                
                .github-btn {
                    background-color: #14191E;
                    border: 1px solid vars.$gray-border-color;
                    color: vars.$color-white;
                    font-weight: 500;
                }
            }

            .project-video {

                h2 {
                    font-size: 38px;
                    margin-top: 80px;
                    margin-bottom: 20px;

                    span {
                        color: vars.$color-white;
                        font-size: 44px;
                    }
                }

                .project-video-thumbnail {
                    position: relative;

                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                        border-radius: 15px;
                        opacity: 0.4;
                    }

                    .video-play-button {
                        position: absolute;
                        z-index: 10;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        box-sizing: content-box;
                        display: block;
                        width: 32px;
                        height: 44px;
                        border-radius: 50%;
                        padding: 18px 20px 18px 28px;

                        &:before {
                            content: "";
                            position: absolute;
                            z-index: 0;
                            left: 50%;
                            top: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            display: block;
                            width: 80px;
                            height: 80px;
                            background: vars.$primary-color;
                            border-radius: 50%;
                            animation: pulse-border 1500ms ease-out infinite;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            left: 50%;
                            top: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            display: block;
                            width: 80px;
                            height: 80px;
                            background: vars.$primary-color;
                            border-radius: 50%;
                            transition: all 200ms;
                        }

                        span {
                            display: block;
                            position: relative;
                            z-index: 3;
                            width: 0;
                            height: 0;
                            border-left: 28px solid vars.$secondary-light;
                            border-top: 18px solid transparent;
                            border-bottom: 18px solid transparent;
                            margin-top: 4px;
                            margin-left: 2px;
                        }
                    }
                }

                @media screen and (max-width: 1024px) {
                    h2 {
                        margin-top: 50px;
                        font-size: 34px;

                        span {
                            font-size: 38px;
                        }
                    }

                    .project-video-thumbnail {
                        img {
                            height: 400px;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    .project-video-thumbnail {
                        img {
                            height: 280px;
                        }
                    }
                }
            }

            .project-images {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 20px;

                a {
                    position: relative;
                    height: 300px;

                    .inner-img {
                        width: 100%;
                        border-radius: 15px;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }

                    span {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;
                        background-color: #0000001c;
                        z-index: 2;
                        font-size: 24px;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        svg {
                            transform: rotate(90deg);
                            color: vars.$color-white;
                            background-color: vars.$secondary-light;
                            padding: 20px;
                            border-radius: 100%;
                            opacity: 0.6;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }

                @media screen and (max-width: 640px) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }
            }
        }

        .right-sidebar {
            grid-column: span 4 / span 4;

            @media screen and (max-width: 1024px) {
                grid-column: span 1 / span 1;
            }

            .project-info-items {
                list-style: none;
                padding: 30px;
                border-radius: 15px;
                background-color: vars.$secondary-light;
                border: 1px solid vars.$gray-border-color;

                @media screen and (max-width: 767px) {
                    padding: 30px 20px;
                }

                .no-data-massage {
                    text-align: center;
                    color: vars.$color-gray;
                }

                li {
                    padding: 20px 0px;
                    border-bottom: 1px solid vars.$gray-border-color;
                    text-align: center;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0px;
                    }

                    &:first-child {
                        padding-top: 0px;
                    }

                    .project-info-title {
                        font-size: 18px;
                        color: vars.$color-gray;
                        font-weight: 700;
                    }

                    .project-info-value {
                        font-size: 20px;
                        line-height: 30px;
                        color: vars.$color-white;
                        font-weight: 500;
                        margin-top: 8px;
                    }
                }
            }

            .sidebar-cta {
                margin-top: 30px;
                border-radius: 15px;
                position: relative;

                .sidebar-cta-bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: 15px;
                    object-fit: cover;
                }

                .cta-content {
                    padding: 30px 35px;
                    z-index: 2;
                    position: relative;

                    h3 {
                        margin-bottom: 25px;
                        color: vars.$color-white;
                        font-size: 28px;
                        line-height: 1.6em;
                        font-weight: 500;
                        letter-spacing: -0.03em;

                        span {
                            color: vars.$primary-color;
                            font-size: 30px;
                            font-weight: 600;
                        }
                    }
                }


                @media screen and (max-width: 767px) {
                    .cta-content {
                        padding: 20px 25px;

                        h3 {
                            margin-bottom: 20px;
                            font-size: 26px;
                            line-height: 1.5em;
                        }
                    }

                }
            }
        }

    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}