// Variables
@use "variables" as vars;

.blog-details-heading {
    max-width: 1024px;
    padding-top: 180px;
    padding-bottom: 120px;
    position: relative;

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.3;
        color: vars.$color-white;
        z-index: 1;
        position: relative;
    }

    .blog-meta {
        position: relative;
        z-index: 1;
        margin-top: 25px;

        .blog-details-ctg {
            font-size: 14px;
            font-weight: 400;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 20px;

            a {
                color: vars.$color-white;
                text-decoration: none;
                padding: 8px 12px;
                border-radius: 30px;
                transition: 0.3s all;
                background-color: vars.$secondary-medium;
                display: inline-block;

                &:hover {
                    background-color: vars.$primary-color;
                    color: vars.$primary-dark;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding-top: 140px;
        padding-bottom: 70px;

        h1 {
            font-size: 36px;
        }
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 56px;

        h1 {
            font-size: 26px;
        }
    }
}

.blog-details-main-container {
    position: relative;
    background-color: vars.$secondary-medium;
    overflow: hidden;


    .blog-details-wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 50px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            padding-top: 60px;
            padding-bottom: 60px;
            gap: 30px;
        }

        .blog-details-content {
            grid-column: span 8 / span 8;

            @media screen and (max-width: 1024px) {
                grid-column: span 1 / span 1;
            }

            .post-thumbnail {
                width: 100%;
                border-radius: 20px;
                background-color: vars.$secondary-light;
            }

            .blog-publish-date {
                color: #cccccc;
                font-size: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 8px;
                font-family: "Caveat", cursive;
                margin-top: 16px;

                span {
                    font-size: 18px;
                    color: vars.$primary-color;
                }
            }

            .body-content {
                margin-top: 40px;
                color: #cccccc;
                font-size: 17px;
                font-weight: 400;
                line-height: 1.7;
                z-index: 1;
                position: relative;

                p {
                    margin-bottom: 25px;
                }

                a {
                    color: vars.$color-white;
                    transition: 0.3s all;

                    &:hover {
                        color: vars.$primary-color;
                    }
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: vars.$color-white;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 32px;
                    line-height: 1.4;
                    font-weight: 600;
                }

                h3 {
                    font-size: 28px;
                    line-height: 1.4;
                    font-weight: 600;
                }

                h4 {
                    font-size: 24px;
                    line-height: 1.4;
                    font-weight: 500;
                }

                h5 {
                    font-size: 20px;
                    line-height: 1.5;
                    font-weight: 500;
                }

                h6 {
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                }

                .wp-block-image {
                    margin-bottom: 20px;
                }

                ul {
                    padding-left: 20px;
                    margin-bottom: 25px;
                }

                .wp-block-code {
                    background-color: vars.$secondary-light;
                    border: 1px solid vars.$gray-border-color;
                    border-radius: 10px;
                    padding: 10px 20px;
                    display: inline-block;
                    margin-bottom: 25px;
                }

                .wp-block-quote {
                    padding: 20px 30px 25px 30px;
                    background-color: vars.$secondary-light;
                    border-bottom: 3px solid vars.$primary-color;
                    overflow: hidden;
                    position: relative;

                    p {
                        margin: 0px;
                        font-style: italic;
                        font-size: 18px;
                        z-index: 2;
                        position: relative;
                    }

                    &::after {
                        content: "\f10d";
                        font-family: "Font Awesome 6 Free";
                        font-weight: 900;
                        font-style: normal;
                        display: inline-block;
                        color: #555555;
                        font-size: 120px;
                        position: absolute;
                        right: 30px;
                        bottom: 8px;
                        opacity: 0.4;
                        z-index: 1;
                    }
                }

                @media (max-width: 768px) {
                    h2 {
                        font-size: 24px;
                    }

                    h3 {
                        font-size: 20px;
                    }

                    h4 {
                        font-size: 18px;
                    }

                    h5 {
                        font-size: 16px;
                    }

                    h6 {
                        font-size: 14px;
                    }
                }

            }

            .content-bottom-action {
                display: flex;
                align-items: start;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                margin-top: 50px;
                z-index: 1;
                position: relative;

                .post-tags {
                    span {
                        font-size: 26px;
                        font-weight: 600;
                        color: vars.$color-white;
                    }

                    a {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 500;
                        color: vars.$color-white;
                        border: 2px solid vars.$secondary-light;
                        background-color: vars.$primary-dark;
                        border-radius: 8px;
                        padding: 8px 16px;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                        margin-left: 5px;
                        margin-top: 6px;

                        &:hover {
                            background-color: vars.$primary-color;
                            color: vars.$primary-dark;
                        }
                    }
                }

                .social-share {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    p {
                        font-size: 26px;
                        font-weight: 600;
                        color: vars.$color-white;
                        margin-right: 10px;
                    }

                    a {
                        text-decoration: none;
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        color: vars.$color-white;
                        border: 2px solid vars.$secondary-light;
                        background-color: vars.$primary-dark;
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: vars.$primary-color;
                            color: vars.$primary-dark;
                        }
                    }
                }

            }

            .related-posts {
                margin-top: 80px;
                z-index: 2;
                position: relative;

                h3 {
                    margin-bottom: 40px;
                }

                .related-posts-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 30px;
                    
                    @media screen and (max-width: 767px) {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }
                }
            }

        }

        .blog-details-sidebar {
            grid-column: span 4 / span 4;

            @media screen and (max-width: 1024px) {
                grid-column: span 1 / span 1;
            }

            form {
                max-width: 100%;
            }

            .ads-banner {
                margin-top: 30px;

                img {
                    width: 100%;
                    border-radius: 15px;
                }
            }

            .recent-posts {
                margin-top: 30px;
                border-radius: 20px;
                background-color: vars.$secondary-light;
                border: 1px solid vars.$gray-border-color;
                padding: 20px;
                display: grid;
                gap: 20px;

                h3 {
                    font-size: 26px;
                    color: vars.$color-white;
                    margin-bottom: 10px;
                }

                .recent-item {
                    border-radius: 20px;
                    transition: 0.3s all;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .post-thumb {
                        max-width: 130px;
                        width: 100%;
                        height: 130px;
                        overflow: hidden;
                        border-radius: 15px;
                        background-color: vars.$secondary-medium;

                        .img-fluid {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;

                            img {
                                width: 100px;
                                object-fit: contain;
                                border-radius: 0px;
                                opacity: 0.3;
                                height: auto;
                            }
                        }

                        img {
                            transition: 0.3s all;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }

                    }

                    &:hover {
                        .post-thumb {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .recent-item-content {
                        h5 {
                            a {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 1.3;
                                margin-bottom: 10px;
                                transition: 0.3s all;
                                text-decoration: none;
                                color: vars.$color-white;
                            }
                        }

                        .read-more-btn {
                            margin-top: 15px;
                            text-decoration: none;
                            font-size: 14px;
                            transition: 0.3s all;
                            display: inline-block;
                            color: vars.$color-gray;

                            &:hover {
                                color: vars.$primary-color;
                            }
                        }
                    }
                }
            }
        }

    }

    .bg-color {
        bottom: 0px;
    }
}